# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\agust\Documents\UNLAM\Segundo Cuatrimestre 2020\PB2\Proyectos\Siquila-EVA02_PB2_Grupo9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
